*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
  /*font-family: Arial, Helvetica, sans-serif;*/
  
}

body{
  overflow-x: hidden;
  background: white;
}

.nav-box {
margin-left: 10px;
font-size: 15px;
height: 70px;
width: 210px;
background: white;
border-radius: 10px;
box-shadow: 1px 0 50px #888;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
float: left;
transform: translateX(-200px);
position: fixed;
transition: 0.7s;
cursor: pointer;
z-index: 999;
}

#nav-box-activity .bi {
text-shadow: 0 0 0px rgba(18, 61, 61, 0),
               0 0 0px rgba(31, 83, 83, 0);
animation: blinking2 1.5s infinite alternate;
}

@keyframes blinking2 {
100%{
  text-shadow: 0 0 4px #f3346793,
               0 0 4px #f3346793;
}
}

#nav-box-activity .bi {
position: relative;
left: 60px;
color: #f33466;
}

#nav-box-activity {
top: 5%;
}

.nav-box:hover {
transform: translateX(-20px);
}

.nav-box h1 {
font-size: 20px;
color: #f33466;
}

/********************** end nav bar *****************************/

#head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
  background-color: black;
  box-shadow: #02020273 0 10px 10px;
  color: white;
  font-size: 70px;
  overflow: hidden;
  /* background-image: url(image/bg3.jpg);
  background-position: top;
  background-size: cover; */
}

#head img {
  position: absolute;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: top;
  border-radius: 0;
}

#head h4{
  z-index: 999;
}
h2 {
  margin-top: 2%;
  text-align: center;
  color: #f33466;
  font-size: 50px;
  margin-bottom: 2%;
  text-shadow: 0 0 3px #f33466;
}

.content {
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

/************ailgn center****************/
#img {
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: start;
  display: flex;
}
.pic {
  text-align: center;
  width: 250px;
  height: 300px;
  background-color: black;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.404), 0 10px 25px 0 rgba(0, 0, 0, 0.185);
  margin-inline: 50px;
  margin-bottom: 5px;
  margin-top: 12px;
  border: 1.5px solid gray;
  transition-duration: 0.5s;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 20px;
}

.pic img {
  width: 220px;
  height: 270px;
}

.info {
  margin-bottom: 25px;
  padding: 30px;
  padding-bottom: 20px;
  margin-top: -10px;
  border-radius: 20px;
  text-align: center;
  font-size: medium;
}

.member-name {
  font-size: 20px;
  font-weight: bold;
}

span {
  color: #b5113d;
}

.row {
  margin: 0 20px;
  background: gainsboro;
  border-radius: 20px;
  height: 100%;
}

.pic:hover {
  border: 1.5px solid whitesmoke;
  box-shadow: 0 5px 8px 0 #f3346793, 0 5px 30px 1px #ba1c46b3;
  background-color: #f5f5f5;
}

img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  text-align: center;
  border-radius: 20px;
}

.button {
  border: 1px solid black;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button a {
text-decoration: none;
color: #000;
}
button a:hover {
  color: white;
}

.form {
  background-color: white; 
  color: black; 
  border-radius: 15px;
}

.form:hover {
  background-color: #f33466;
  color: white;
  border: 2px solid #f33466;
  box-shadow: 0 5px 8px 0 #f3346793, 0 5px 30px 1px #ba1c46b3;
}

.Activity-btn {
  clear: both; 
  margin-top: 50px; 
  margin-bottom: 60px; 
  text-align: center;
}

footer {
  text-align: center;
  background-color: #1a1a1a;
  color: whitesmoke;
  padding: 20px;
  font-size: 15px;
  bottom: 10px;
  clear: both;
}
footer span {
  color: lightgray;

}
footer a {
  text-decoration: none;
  color: #f33466;
}
footer a:hover{
  color: #b5113d;
}